:root {
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);

    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
    --base-font: 'Inter', sans-serif;
    --color-fg: #000000;
    --color-bg: #dfdfdf;
    --color-primary: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em)
}

.container {
    width: min(54rem, 100vw - var(--space-xl));
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-s);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
    color: var(--color-fg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    background-image: url(/images/BIltest1.jpg)
}

h1 {
    font-size: var(--step-5);
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a,
a:link,
a:visited {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover,
a:active {
    color: transparent;
    background-color: transparent;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

a:hover::before,
a:active::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.hrStyle {
    width: auto;
    height: 0.2rem;
    background-color: #ffffff;
    border: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.nav-link {
    color: black;
}

.navcontent {
    margin: 1rem;
}

.navcontent:hover {
    color: white;
    background-color: transparent;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.heroImg {
    width: 100%
}

.heroText {
    margin-top: 5rem;
    margin-bottom: 15rem;
    width: auto;
}


.menu {
    padding-top: 3em;
    padding-bottom: 3em;
    color: #272727;
    background-color: #e7dac7;
}

.pizzaDecal {
    align-items: center;
    display: flex;
    position: absolute;
    opacity: 10%;
    justify-content: center;
}

.menuHead {
    margin-left: auto;
    margin-right: auto;
}

.menuHead h2 {
    text-align: center;
    text-decoration: underline;
}

.pizzaTable {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10%;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-rigpadding-bottom: var(--space-s);
    content: center;
}

.fillerItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.fillerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fillerImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fillerImage img {
    width: 15rem;
    height: auto;
}

footer {
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    height: 10%;
    background-color: rgb(32, 32, 32);
    color: white;
}

.omOss {
    background-color: white;
    padding: 1em;
}


.omOssText {
    text-align: center;
}

.box {
    /* Copied from the internet, no clue what anything means */
    /* To use this, create a div with classes box, mask, (upsidedown) and a custom for your backgroundColor */
    --size: 100px;
    --p: 50px;
    --R: 112px
        /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/
    ;

    height: 175px;
    margin: 0;
}

.box.mask {
    -webkit-mask:
        radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)), blue 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(-1*var(--p)), #0000 99%, red 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background-color: white;
    border: none;
}

.box.mask.upsidedown {
    -webkit-mask:
        radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), blue 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, red 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background-color: white;
    border: none;
}